
<!DOCTYPE html>
<html>
  <head>
  <meta meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/codemirror/lib/codemirror.css" type="text/css" rel="stylesheet" >
  <link href="/codemirror/base16-light.css" type="text/css" rel="stylesheet" >
  <link href="/codemirror/default.css" type="text/css" rel="stylesheet" >

  <title>위키라이트</title>
  </head>
  
  <body data-twttr-rendered="true">
    <script src="/js/jquery-2.1.3.min.js"></script>
    <script src="/js/materialize.min.js"></script>
    <script src='/js/facebook.js'></script>
	<script src='/js/init.js'></script>

    <!-- 네비게이션바 액티브 스크립트 -->
    <script>
      var active = "#"+decodeURI(document.location.href.substring(document.location.href.lastIndexOf("/")+1));

      $(document).ready(function() {
        $(active).addClass("active");
      });
    </script>

    
