<!DOCTYPE html>
<html>
  <head>
	<meta meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel='stylesheet' href='/stylesheets/style.css' />

	<!-- CodeMirror 모듈 불러오기 -->
	<script src="/lib/codemirror.js"></script>
	<link rel="stylesheet" href="/lib/codemirror.css">
	<script src="/mode/javascript/javascript.js"></script>
 
    <title>WikiLite</title>
    
  </head>

	<style>
	.contents{
		margin-left: 13%;
	}
	.CodeMirror{
		z-index: 0;
		width:100%;
		height:725px;
	}
	input{
		padding: 3px;
	}
	#submit{
		font-size: 30px;
	}
	</style>
	
  <body>
	<% include nav-top %>
	
	<form method="post" action="/save">

	  <nav class='nav side'>
	  	<ul>
	  	  <li>File name</li>
	  	  <li><input type=text name="name"></li>
		  <li><input id="submit" type="submit" value="Save"></li>
		</ul>
	  </nav>

	  <div class="contents">
		  <input type="hidden" name="path" value="<%=path%>">
		  <textarea id="content" name="content" style="display: none;"></textarea>
	  </div>	
	
	</form>


	<script type="text/javascript">
		var editor = CodeMirror.fromTextArea(document.getElementById("content"), {
		  lineNumbers: true
		});
	</script>
  </body>
</html>

