<% include header%>  

  <style>
	.contents{
		margin-left: 13%;
	}
	.CodeMirror{
		width:100%;
		height:725px;
	}
	input{
		padding: 3px;
	}
	#submit{
		font-size: 30px;
	}
	</style>
	<% include nav-top %>
	
	<form method="post" action="/save">

	  <nav class='nav side'>
	  	<ul>
		  <li><input id="submit" type="submit" value="Save"></li>
		</ul>
	  </nav>

	  <div class="contents">
		  <input type="hidden" name="path" value="<%=mds.path%>">
		  <textarea id="content" name="content" style="display: none;"><%-mds.content%></textarea>
	  </div>	
	
	</form>

<%include footer%>

<script src="/lib/codemirror.js"></script>
<script src="/mode/javascript/javascript.js"></script>
<script type="text/javascript">
		var editor = CodeMirror.fromTextArea(document.getElementById("content"), {
		  lineNumbers: true
		});
</script>

