
<%include header %>
  
    <nav class="moblieMenu">
      <div class="layout">
        <% include nav-top %>
      </div>
    </nav>

  <div class="wrapper">
    <% include content %>
  </div>

<style>
@media screen and (min-width:768px){ 
  .contents{
    margin-left: 10px;
  }
}
</style>


<%include footer %>

