<%include header %>
<header>
  <nav class="light-blue lighten-1">
      <div class="container nav-wrapper">
  	     <a id="logo-container" href="/" class="brand-logo center">위키라이트</a>
      </div>
  </nav>
</header>
<% include nav-main %>
<% include content %>
<%include footer %>