<!DOCTYPE html>
<html>
  <head>
	<meta meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>WikiLite</title>
  </head>
  <body>
	<nav class='dirs'>
		<a href='/' id='title'>WikiLite</a>
		<% for (var i=0; i<dirs.length; i++) { %>
			<a href='/<%=dirs[i]%>'><%=dirs[i]%></a> 
		<% } %>
	</nav>

	<% include intro %>
	<!-- content.ejs 상속시킴-->
	<% include content %>
	
  </body>
</html>
