<!DOCTYPE html>
<html>
  <head>
	  <meta meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	  <link rel='stylesheet' href='/stylesheets/style.css' />
 
    <title>위키라이트</title>
    
  </head>
  <body>
    
	<% include nav-top %>
  <% include nav-side %>
	<% include content %>

  </body>
</html>


