<!DOCTYPE html>
<html>
  <head>
	<title>WikiLite</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<nav class='dirs'>
		<a href='/' id='title'>WikiLite</a>
		<% for (var i=0; i<dirs.length; i++) { %>
			<a href='/<%=dirs[i]%>'><%=dirs[i]%></a> 
		<% } %>
	</nav>

	<!-- content.ejs에서 md파일을 읽음 -->
	<% include content %>
	
  </body>
</html>
