<!DOCTYPE html>
<html>
  <head>
	<title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<nav class='dirs'>
		<% for (var i=0; i<dirs.length; i++) { %>
			<p><%=dirs[i]%></p> 
		<% } %>
	</nav>

	<div class='mds'>
		<% for (i in mds) { %>	
			<%=mds[i].replace("\"","")%>
		<% } %>
	</div>
  </body>
</html>
