<!--카테고리 리스트를 보여주는 네비게이션바 --> 
	<nav class='intro'>
	</nav>
<script>
	function getCookie(name) {
	  var value = "; " + document.cookie;
	  var parts = value.split("; " + name + "=");
	  if (parts.length == 2) return parts.pop().split(";").shift();
	}
	JSON.parse(decodeURIComponent(getCookie('tree'))).wikilte
	var url = location.pathname;
	url = url.replace('/','');
	var obj = getCookie(url);
	document.write();
	console.log(obj);
</script>
