<script>
	function getCookie(name) {
	  var value = "; " + document.cookie;
	  var parts = value.split("; " + name + "=");
	  if (parts.length == 2) return parts.pop().split(";").shift();
	}

	// function htmlCode(lists,link){
	// 	document.write('<ul class="nav navbar-nav">',
	// 							'<li class="dropdown">',
	// 								'<a href="#" class="dropdown-toggle" data-toggle="dropdown">',
	// 									'되라<b class="caret"></b>',
	// 								 '</a>',
	// 								 '<ul class="dropdown-menu">');
	// 	for(i in list)
	// 		document.write(				'<li><a href="',link+lists[i],'">',lists[i],'</a></li>');
	// 	}
	// 	document.write('</ul></li></ul>');
	// }

	function insList(List,object,order){
		List.push(Object.keys(object));

			for(i in object){
				if(i == pathArr[order] &&
					order < pathArr.length-2)
					insList(List,object[i],order+1);
			}
	}

	var pathArr = decodeURIComponent(location.pathname).split('/');
	var obj = JSON.parse(decodeURIComponent(getCookie('tree')));

	var dirList = [];
	insList(dirList,obj,1);

</script>

<!--카테고리 리스트를 보여주는 네비게이션바 --> 
	<nav class="navbar navbar-default" role="navigation">
	  <!-- Collect the nav links, forms, and other content for toggling -->
	  <div class="collapse navbar-collapse navbar-ex1-collapse">
          <script>
	   
          </script>
	  </div>
	  <!-- /.navbar-collapse -->
	</nav>

