<nav class='nav side'>
  <div class='add'>
  	<%- add %>
  </div>

  <div style="margin:10px;border: 2px solid #ccc;"></div>

  <p class='sub'>SubDirs</p>
  <ul>
  	<li><a href='#'>SubDir</a></li>
  	<li><a href='#'>SubDir</a></li>
  	<li><a href='#'>SubDir</a></li>
  	<li><a href='#'>SubDir</a></li>
  </ul>
</nav>

