<nav class='nav side'>
  <div class='add'>
  	<%- add %>
  </div>

  <p class='side-group'>SubDirs</p>
  <ul>
    <% for(i in filters) { %>
      <li><a href='<%=filters[i].path%>'><%=filters[i].name%></a> </li>
    <% } %>
  </ul>
</nav>

