body {
	padding-top: 100px;
}

h1, h2, h3{
	margin: 0.5em 0 0.5em;
}

a, a:visited {
	text-decoration: none;
	color: #6799FF;
}

.dirs {
	border-bottom: 1px solid #000;
	padding: 1em 0 1em 0;
}

#title {
	font-size: 2em;
	padding: 1em 1em 0.5em 1em;
}

.dirs a {
	text-align:justify;
	color: #000;
	padding: 1.5em 1em 0.7em 1em;
	font-size: 1.5em;
}

.dirs a.hover {
	color: #5CD1E5;
}

 .panel-default {
 	margin: 1em 1em 2em 1em;
 }

 .navbar-foot{
 	  background-color: #f8f8f8;
	  border-top: 1px solid #e7e7e7;
 }