h1, h2, h3{
  marign: 0.5em 0 0.5em;
}
a, a:visited {
  text-decoration: none;
  color: #6799FF;
}

body{
margin: 0;
background-color: #ddd;
}

/* Navigation */
.nav ul{
list-style: none;
padding-left: 15px;
}
.nav a{
color: #000;
text-decoration: none;
}
.nav a:visited{
color: #000;
}

/* Top-Navigation */
.top{
z-index: 10;
position: fixed;
top:0;left:0;right:0;
height: 55px;
border-bottom:1px solid #ccc;
background-color: #fff;
}
.top-brand{
display: inline;
float: left;
padding: 18px 18px;
font-size: 21px;
line-height: 20px;
}
.top-menu ul li{
display: inline;
padding: 18px 15px;
line-height: 26px;
}
.top-menu ul li a:hover {
color: #abc;
}


/* Side-Navigation */
.side{
width: 13%;
position: fixed;
}
.add{
margin-left: 20px;
font-size: 25px;
}
.sub{
margin: 10px 10px 5px 20px;
font-size: 18px;
}
.side ul{
margin: 0 0 0 10px;
}
.side li{
padding: 2px;
}




/* Content */
.contents{
  margin: 65px 10px 10px 10px;
}
.panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-header{
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.panel-header a{
  color: #000;
}

.panel-body {
  margin: 0 20px;
}

.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

